.color-red-100 {
  color: #d93837;  
}

.color-red-200 {
  color: #b2414a;  
}

.color-red-300 {
  color: #6f2b2d;  
}

.color-purple-100 {
  color: #a6749c;  
}

.color-purple-200 {
  color: #704b6d;  
}

.color-yellow-100 {
  color: #e4a35c;  
}
