/************* LOGIN STYLE *************/

.ht-login-wrapper {
  background: transparent url(../images/bg-login.png) no-repeat scroll center center;
  position: relative;
}

.ht-login-auth-wrapper {
  position: relative;
}

.disclaimer {
  background: rgba(0, 0, 0, 0.5);
  bottom: 5%;
  position: absolute;
  left: 0;
  padding: 40px;
  width: 80%;
}

.disclaimer h1,
.disclaimer p {
  color: #ffffff;
}

.ht-login-auth {
  margin: 0 auto;
  position: relative !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) !important;
  width: 70%;
}

.ht-login-auth .logo {
  background: transparent url(../images/logo-full.svg) no-repeat scroll left top;
  display: block;
  text-indent: -9999em;
  width: 280px;
  height: 40px;
  margin: 20px auto;
}

.ht-login-auth .form-group {
  margin: 20px 0;
}

.ht-login-auth-social-wrapper {
  clear: both;
  margin-top: 100px;
}

.ht-login-auth-social {
  margin: 0;
  padding: 0;
  text-align: center;
}

.ht-login-auth-social li {
  display: inline-block;
  margin: 0 5px;
}

.ht-login-auth-social li a svg {
  height: 47px;
  width: 47px;
  border: 1px solid #0d6efd;
  border-radius: 100%;
  padding: 8px;
}
